<div class="rightCol">
	
</div>

<div class="main">
<h2>Listing comments</h2>
<div id="comments">
<% i = 0 %>
<% @comments.each do |item| %>  
  <% i += 1 %>
  <div class="item <%= "itemse" if i % 2 == 0 %>">
    <div class="meta">
      <% if item.user %>
        <%= link_to (item.user.name), :controller => "pastes", :action => "index",:login => item.user.login %>
      <% else %>
      <%= item.title %>
      <% end %> at <%= time_ago_in_words(item.created_at) %>å‰ said:
    </div>
    <div class="body">
      <%= format_comment(item.comment) %>
    </div>
    <div class="links">            
      <%= link_to ("#{item.commentable.title}"), :controller => :pastes, :action => :show,:id => item.commentable_id %> 
      | <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div> 
<% end %>
</div>
<div class="pages">
<%= will_paginate @comments %>
</div>
</div>

