<div id="content">
<h2>Editing snippet</h2>
<div id="snippet_edit">
<% form_for(@snippet) do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <%= f.label :title,"Title:" %>
    <%= f.text_field :title ,:class => "text",:maxlength => "50" %>
        <div  style="float: right;">
            <%= f.label :language, "Language:" %>
            <% languages_array = Language.all(:order => 'name ASC').map { |l| [l.name, l.id] } %>
            <%= f.select(:language_id,languages_array) %>
            <%= f.label :paivate, "Private?" %>
            <%= f.check_box :private %>
            <%= f.label :private, (image_tag("icons/private.gif",:alt => "Private")) %>        
        </div>
  </div>
  <div class="row">
    <%= f.label :code,"Source code:" %><br />
    <%= f.text_area :code, :class => "required pastebox" %>    
  </div>
   <div class="row">
     <div class="submit" style="float: right;">
       <%= link_to '+ Add Description', '#' ,{ :id => 'addDescId'}%>
       <%= link_to '+ Add Tags', '#' ,{ :id => 'addTagsId'}%>
     </div>
  </div>
  <div class="row" style="display:none;" id="textDesc">
    <%= f.label :desc, "Description:" %><br />
    <%= f.text_area :desc, :class => "desc" %>
  </div>
		
  <div class="row" style="display:none;" id="textTags" >
        <%= f.label :tags, "Tags:" %><br />        
        <%= text_field_tag("snippet[tag_list]",@snippet.tags.join(","),:class => "text long") %>
  </div>

  <div class="submit">
    <%= f.submit 'Save', :class => "submit" %> or
    <%= link_to 'Back', snippets_path %>
  </div>
<% end %>
</div>
</div>
<%= javascript_include_tag 'snippet.edit.js' %>

