<div class="rightCol">
    <%=render :partial => 'tiles/sidebox/select_style' %>
    <%=render :partial => 'tiles/sidebox/follow_us' %>
    <%=render :partial => 'tiles/sidebox/posted_by', :object =>@snippet.user %>
 
    <div class="side-box">
          <p><%= link_to "Raw", :controller => "snippets", :action => "show", :format => :raw, :id => @snippet.id %></p>
          <span style="color: rgb(153, 153, 153);">or</span>
          <p><%= link_to "HTML Code", :controller => "snippets", :action => "show", :format => :code, :id => @snippet.id %></p>
    </div>
    <div class="side-box">
        <label>Author</label><br />
        <p><%= link_to (h @snippet.user.login), :controller => "snippets", :action => "index", :login => @snippet.user.login %></p>
    </div>

    <div class="side-box">
        <label>Pasted</label><br />
        <p><%= time_ago_in_words(@snippet.created_at) %> Ago</p>
    </div>

    <div class="side-box">
        <label>Language</label>
        <p><%= link_to (h @snippet.language.name), :controller => "snippets", :action => "index", :lang => @snippet.language.slug %></p>
    </div>

    <div class="side-box">
        <label>File size<label>
        <p><%=h @snippet.size_kb %></p>
    </div>

  <div class="side-box">
    <label>Views count<label>
    <p><%=h @snippet.views_count_s  %></p>
  </div>

     <% unless @snippet.tags.blank? %>
    <div class="side-box tags">
        <label>Tags</label><br />        
          <% for item in @snippet.tags %>
            <span class="tag_name"><%= link_to (h item.name), :controller => "snippets", :action => "index", :tag => (h item.name.downcase) %></span>
          <% end %>        

    </div>
    <% end %>
    <% if has_permission(@snippet) %>
    <div class="side-box operate">
            <p><%= link_to 'Edit', edit_snippet_path(@snippet) %> | <%= link_to 'Destroy', @snippet, :confirm => 'Are you sure?', :method => :delete %></p>
    </div>
    <% end %>
</div>



<div class="main">
  <%= success_messages %>
  <h2>
   # <%= @snippet.id %>  <%=h @snippet.title %>
   <%= image_tag("icons/private.gif",:alt => "Private") if @snippet.private %>
  </h2>
  <div id="snippet_show">    
    <div class="snippet_code">        
        <%=@snippet.code_formatted %>
    </div>

    <% unless @snippet.desc.blank? %>
    <div class="desc">
      <%= format_comment @snippet.desc %>
    </div>
    <% end  %>

    <div class="comments" id="comments">
      <h2>Comments<span class="count">(<%= @snippet.comments_count %>)</span></h2>
      <%=render :partial => 'comment' , :collection => @snippet.comments %>
    </div>

    <div id="comment_new">
      <% if current_user %>
      <div class="form">
          <% form_for @comment,:url => "/code/#{@snippet.id}/comment" do |f|%>
          <%= f.error_messages %>
          <div class="row">
             <%= f.label :comment,"Comment:" %><br />
             <%= f.text_area :comment ,:class => "text", :rows => 4, :cols => 50 %>
          </div>
          <div class="row">
            <%= f.submit "Post comment", :disable_with => 'Submiting...' %>
          </div>
        <% end %>
      </div>
      <% else %>
          Please <a href="/login?return_to=<%=request.url%>">log in</a> to comment.
      <% end %>
    </div>
  </div>
</div>


