<div class="rightCol">
  <%=render :partial => 'tiles/sidebox/follow_us' %>
</div>
<div class="main">
<h2>Editing language</h2>
<% form_for(@language) do |f| %>
  <p>
    <%= f.label :name, "Name:" %><br />
    <%= f.text_field :name %>
  </p>
    <p>
      <%= f.label :descrption, "Description:" %><br />
      <%= f.text_field :descrption %>
    </p>
    <p>
      <%= f.label :slug, "Slug:" %><br />
        <%= f.text_field :slug %>
    </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
</div>