<div class="rightCol">
  <%=render :partial => 'tiles/sidebox/follow_us' %>
</div>

<div class="main">
<p>
  <b>Name:</b>
  <%=h @language.name %>
</p>
<p>
	<b>File type:</b>
	<%= h @language.slug %>
</p>
<p>
	<b>Pastes count:</b>
	<%= h @language.pastes_count %>
</p>
<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
</div>