<% content_for :main do %>
<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <%=h @user.inspect %>
<p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>