<div class="comment">
  <div class="twitt-face">
     <a href="<%= user_pastes_path(comment.user) %>">
       <img src="<%= comment.user.avatar_url %>" width="48px" height="48px" alt="<%= comment.user.login %>" />
     </a>
  </div>
  <div class="comment-body">
    <span class="comment-name">
      <%= link_to comment.user.login, user_pastes_path(comment.user),{:class => 'normal-weight'} %>
    </span>
    <span class="comment-date">
      <%= comment.created_at.to_s(:short_time) %>
    </span>
    <%= format_comment(comment.comment) %>
  </div>
</div>