<div class="item clearfix">
  <div class="when">
    <span class="typo_date" title="<%= paste.created_at %>">
      <%= paste.created_at.to_s(:short_time) %>
    </span>
    by <%= link_to paste.user.login ,{:controller => 'pastes' ,:action => "index", :user_id => paste.user.login} %>
  </div>
  <div class="link">
      #<%= paste.id %> <%= link_to (truncate(h(paste.title),:length => 50)), paste %> 
       <span class="lang"> [<%= paste.language.name %>]</span>
       <span  class="count">(<%= paste.line_count %> lines,<%= paste.comments_count %> comments)</span>
  </div>
  <div class="summary">
    <%= paste.summary_formatted %>
  </div>
</div>
