<div class="rightCol">
  <%=render :partial => 'tiles/sidebox/select_style' %>

  <div class="side-box drop-ie6">
    <h3 style="color:#D5060D;">Notice</h3>
    <p> We don't support IE6 any more :)</p>
  </div>

  
  <% if current_user %>
    <%=render :partial => 'tiles/sidebox/profile', :object => current_user %>
  <% end %>
  <div class="side-box" id="right_top_languages">    
    <h3>Top Languages</h3>
    <ul>
        <% for language in Language.top_languages %>
          <li><%= link_to (h language.name), {:controller => "pastes", :action => "index", :language_id => language.slug} ,{:class => 'normal-weight font-larger'}%> <span class="count">(<%= language.pastes_count %>)</span></li>
        <% end %>
    </ul>
  </div>  

 

        <div class="side-box" id="recent_comments">
        <h3>Tag cloud</h3>
        <div class="tags">
		  <% tag_cloud(@tags, %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| %>
		   
            <%= link_to tag.name, "/tags/#{tag.name}/pastes", :class => css_class %>
           
         <% end %>
         </div>
      </div>
	  <%=render :partial => 'tiles/sidebox/follow_us' %>


</div>

<div class="main">
  <h2 class="inline"><%= @sub_title %></h2>
  <%= link_to (image_tag("feed.gif",:alt => "Subscription code",:class => "feed inline")), @rss_url %>
  <div id="pastes">
    <div class="summary">There have <%= @pastes_count %> pasites </div>
    <%=render :partial => 'paste' , :collection => @pastes %>
    <div class="pages">
      <%= will_paginate @pastes %>
    </div>
  </div>
</div>
