<!-- content_for :head do >
    <= auto_discovery_link_tag(:rss, :action => "index", :type => "feed") >
< end >
-->
 



<div class="rightCol">
  <%=render :partial => 'tiles/sidebox/select_style' %>
  <div class="side-box">
    <h3 style="color:red;">Notice</h3>
    <p> Please don't post any pastes, it is under construction now
  </div>
  
  <% if current_user %>
    <%=render :partial => 'tiles/sidebox/profile', :object => current_user %>
  <% end %>
  <div class="side-box" id="right_top_languages">    
    <h3>Top Languages</h3>
    <ul>
        <% for language in Language.find_top %>
          <li><%= link_to (h language.name), {:controller => "pastes", :action => "index", :language_id => language.slug} ,{:class => 'normal-weight font-larger'}%> <span class="count">(<%= language.pastes_count %>)</span></li>
        <% end %>
    </ul>
  </div>  

 


        <div class="side-box" id="recent_comments">
        <h3>Recent Comments</h3>
        <ul>
          <% Comment.pastes_recent(10).each do |comment| %>
            <li>
              <%= link_to (truncate(comment.user.login,:length => 10)), {:controller => "pastes", :action => "show", :id => comment.commentable_id} , {:class => 'normal-weight'}  %>: <%= truncate(h(comment.comment),:length => 20) %>
           </li>
          <% end %>
        </ul>
      </div>
	  <%=render :partial => 'tiles/sidebox/follow_us' %>


</div>

<div class="main">
  <h2 class="inline"><%= @sub_title %></h2>
  <%= link_to (image_tag("feed.gif",:alt => "Subscription code",:class => "feed inline")), :action => "index", :type => "feed" %>
  <div id="pastes">
    <div class="summary">There have <%= @pastes_count %> pasites </div>
    <%=render :partial => 'paste' , :collection => @pastes %>
    <div class="pages">
      <%= will_paginate @pastes %>
    </div>
  </div>
</div>
