<div class="rightCol">
    <%=render :partial => 'tiles/sidebox/select_style' %>
    <%=render :partial => 'tiles/sidebox/posted_by', :object =>@paste.user %>
 
    <div class="side-box">
          <h3>View as </h3>
          <%= link_to "Raw", {:controller => "pastes", :action => "show", :format => :raw, :id => @paste.id } , { :class => 'normal-weight'}%>
          <span style="color: rgb(153, 153, 153);">or</span>
          <%= link_to "HTML Code", {:controller => "pastes", :action => "show", :format => :code, :id => @paste.id} , { :class => 'normal-weight'}%>
    </div>

    <div class="side-box">
        <h3 class="inline">Language </h3>
        <%= link_to (h @paste.language.name), { :controller => "pastes", :action => "index", :language_id => @paste.language.slug } , { :class => 'normal-weight'} %>
    </div>


  <div class="side-box">
    <h3 class="inline">Views count </h3>
    <%=h @paste.views_count_s  %>
  </div>

     <% unless @paste.tags.blank? %>
    <div class="side-box tags">
        <h3>Tags</h3>
          <% for tag in @paste.tags %>
            <span class="tag_name"><%= link_to (h tag.name), :controller => "pastes", :action => "index", :tag_id => tag.name %></span>
          <% end %>        

    </div>
    <% end %>
    <% if has_permission(@paste) %>
    <div class="side-box operate">
            <p><%= link_to 'Edit', edit_paste_path(@paste) %> | <%= link_to 'Destroy', @paste, :confirm => 'Are you sure?', :method => :delete %></p>
    </div>
    <% end %>
    <%=render :partial => 'tiles/sidebox/follow_us' %>
</div>



<div class="main">
  <%= success_messages %>
  <h2>
   # <%= @paste.id %>  <%=h @paste.title %>
   <%= image_tag("icons/private.gif",:alt => "Private") if @paste.private %>
  </h2>
  <div id="paste_show">    
    <div class="paste-code">        
        <%=@paste.code_formatted %>
    </div>

    <% unless @paste.desc.blank? %>
    <div class="desc">
      <%= format_comment @paste.desc %>
    </div>
    <% end  %>

    <div class="comments" id="comments">
      <h2>Comments<span class="count">(<%= @paste.comments_count %>)</span></h2>
      <%=render :partial => 'comment' , :collection => @paste.comments %>
    </div>

    <div id="comment_new">
      <% if current_user %>
      <div class="form">
          <% form_for @comment, :url => paste_comments_path(@paste) do |f|%>
          <%= f.error_messages %>
          <div class="row">
             <%= f.label :comment,"Comment:" %>
			 <span id="commentAll">(
			   <span id="commentChars">120</span> chars left
			   <span id="commentWarning" style="display:none;">, the tweet will be cut off</span>)
             </span>			 
             <%= f.text_area :comment ,:class => 'required', :rows => 2, :cols => 133 %>
          </div>
           <div style="width:90%;margin-top:5px;">
            <div class="post-to-twitter">
              <%= f.check_box :post_to_twitter, :checked => 'checked' %>
              <%= f.label :post_to_twitter, "Tweet this comment" %>
            </div>         
           </div>
          <div class="row">
            <%= f.submit "Post comment" %>
          </div>
          <%= javascript_include_tag 'jquery.validate.pack.js' %>
          <script type="text/javascript">

             $(document).ready(function(){

				  $("#comment_comment").change(function(){
				   var commentLength = $(this).val().length;
				   var showChars = 120 - commentLength ;
				   $('#commentChars').text(showChars);
				   if(showChars > 0){
				     $('#commentWarning').hide();
				   }else{
				     $('#commentWarning').show();
				   }
                 });

				$("#comment_post_to_twitter").change(function(){
				  if($(this).checked){
				    $('#commentAll').show();
				  }else{
				    $('#commentAll').hide();
				  }  
                });

              }); 
               
 
          </script>

        <% end %>
      </div>
      <% else %>
          Please <a href="/login?return_to=<%=request.url%>">log in</a> to comment.
      <% end %>
    </div>
  </div>
</div>


