<div class="rightCol">
  <%=render :partial => 'tiles/sidebox/select_style' %>
  <%=render :partial => 'tiles/sidebox/posted_by', :object =>@paste.user %>

  <div class="side-box">
    <h3>View as </h3>
    <%= link_to "Raw", {:controller => "pastes", :action => "show", :format => :raw, :id => @paste.id } , { :class => 'normal-weight'}%>
    <span style="color: rgb(153, 153, 153);">or</span>
    <%= link_to "HTML Code", {:controller => "pastes", :action => "show", :format => :code, :id => @paste.id} , { :class => 'normal-weight'}%>
  </div>

  <div class="side-box">
    <%= link_to 'Repaste', repaste_paste_path(@paste) %>
  </div>

  <div class="side-box">
    <h3 class="inline">Language </h3>
    <%= link_to (h @paste.language.name), { :controller => "pastes", :action => "index", :language_id => @paste.language.slug } , { :class => 'normal-weight'} %>
  </div>

  <div class="side-box">
    <h3 class="inline">Views count </h3>
    <%=h @paste.views_count_s  %>
  </div>

  <% unless @paste.tags.blank? %>
    <div class="side-box">
      <h3>Tags</h3>
	  <div class="tags">
		 <% for tag in @paste.tags %>
            <%= link_to tag.name, "/tags/#{tag.name}/pastes", :class => 'cloud3' %>
         <% end %>
      </div>
    </div>
  <% end %>

  <% if has_permission(@paste) %>
    <div class="side-box operate">
      <h3>Action</h3>
      <p><%= link_to 'Edit', edit_paste_path(@paste) %> | <%= link_to 'Destroy', @paste, :confirm => 'Are you sure?', :method => :delete %></p>
    </div>
  <% end %>
  <%=render :partial => 'tiles/sidebox/follow_us' %>
</div>


<div class="main">
  <%= success_messages %>
  <h2>
    # <%= @paste.id %>  <%=h @paste.title %>
    <%= image_tag('icons/private.gif',:alt => 'Private',:class => 'inline') if @paste.private %>
  </h2>
  <div id="paste_show">    
    <div class="paste-code">        
      <%=@paste.code_formatted %>
    </div>

    <% unless @paste.desc.blank? %>
      <div class="desc">
        <%= format_comment @paste.desc %>
      </div>
    <% end  %>

    <div class="comments" id="comments">
      <%=render :partial => 'comment' , :collection => @paste.comments %>
    </div>
      <div id="comment_new">
        <div class="form">
          <% if current_user %>
            <% form_for @comment, :url => paste_comments_path(@paste) do |f|%>
              <%= f.error_messages %>
              <div class="row">
                <%= f.label :comment,"Comment:" %>
                <span id="commentAll">(
                  <span id="commentChars">120</span> chars left
                  <span id="commentWarning" style="display:none;">, the tweet will be cut off </span>)
                </span>
              </div>
			  <div class="row">
                <%= f.text_area :comment , :rows => 2, :cols => 133 %>
                <div style="width:90%;margin-top:5px;">
                  <div class="post-to-twitter">
                    <%= f.check_box :post_to_twitter, :checked => 'checked' %>
                    <%= f.label :post_to_twitter, "Tweet this comment" %>
                  </div>
                </div>

                <div class="row">
                  <%= f.submit "Post comment" %>
                </div>
              <% end %>
            </div>
			<script type="text/javascript">
			   var commentPostUrl="<%=paste_comments_path(@paste)%>";
			   var privatePaste=<%=@paste.private?%>;
			</script>
            <%= javascript_include_tag 'jquery.validate.pack.js' %>
            <%= javascript_include_tag 'paste.show.js' %>
          <% else %>
            Please <a href="/login?return_to=<%=request.url%>">log in</a> to comment.
          <% end %>
        </div>
   

    </div>
  </div>

</div>
