<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @page_title %></title>
    <link rel="shortcut icon" href="/favicon.ico?v=001" />
    <%= stylesheet_link_tag "coderay","src/base","src/pasite", :cache => "pasite" %>
    <%= yield :styles %>
    <%= yield :head %>
  </head>
<body>
  <%= yield :scripts %>
  <div id="header">
      <ul id="nav">
        <li<%= ' class="hot active"' if params[:controller] == "snippets" and params[:action] == "new" %>>
          <%= link_to "New", :controller => "snippets", :action => "new" %>
        </li>
        <li<%= ' class="hot active"' if params[:controller] == "snippets" and params[:action] == "index" %>>
			<%= link_to "All", :controller => "snippets", :action => "index" %>
		</li>
		<li>
			<a href="/help">Help</a>
		</li>
		<% if @current_user %>
			<li class="userbar">Hi <%= @current_user.name %></li>
			<li><%= link_to "Me", :controller => "snippets", :action => "index", :login => @current_user.login %></li>
			<li<%= ' class="hot active"' if params[:controller] == "home" and params[:action] == "settings" %>><a href="/settings">Settings</a></li>
			<li><a href="/logout">Logout</a></li>
		<% else %>
			<li<%= ' class="hot active"' if params[:controller] == "home" and params[:action] == "login" %>>
					<a href="/login">Login</a>
			</li>
		<% end %>
      </ul>
      <div id="site_logo">
        <a href="/"><%= image_tag("pastie.gif") %> TwPaste</a>
      </div>
  </div>
  <div id="container">
    <div id="content">
      <%= yield :main %>
    </div>
	<div id="right">
	<%= yield :right %>
	</div>
  </div>
  <div id="footer">
    <p class="copyright">
      &copy; 2009 TwPaste.com <a href="http://pasite.uservoice.com" target="_blank">Feedback</a> | <a href="/links">Links</a>
    </p>
  </div>
  <script type="text/javascript">
  </script>
</body>
</html>
