<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%=page_title %></title>
    <meta name="keywords" content="<%=page_keywords %>" />
    <meta name="description" content="<%=page_description %>" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'core/libraries', 'core/content' , 'core/template/template', 'pasite' ,'pygments' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"  type="text/javascript"></script>
	<%= javascript_include_tag 'jquery.validate.pack.js' %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>
  <div class="page">
    <%=render(:partial => "tiles/head") %>
    <div class="body">
      <%= yield :layout %>
    </div>
    <%=render(:partial => "tiles/foot") %>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15054083-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
